<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="/css/detail.css">
</head>

<body>
    <div class="detail-container">
        <div class="book-image">
            <img src="/product/<%= bookdetail.image%>" alt="Book Cover">
        </div>
        <div class="book-info">
            <h2 class="title">
                <%= bookdetail.name%>
            </h2>
            <p class="author">
                <%= bookdetail.author%>
            </p>
            <p class="description">
                <%= bookdetail.description %>
            </p>
            <p class="price">Price: <%= bookdetail.price %>
            </p>
        </div>
    </div>
</body>

</html>