<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/personal.css">
    <link rel="stylesheet" href="/css/inventory.css">
    <title>Inventory</title>
</head>

<body>
    <div class="dashboard-container">
        <header>
            <h1> Hello <span>
                    <%= userData.username %>
                </span></h1>
        </header>
        <nav>
            <ul>
                <div class="selection">
                    <img class="img-icon" src="/icon/addbook.png">
                    <li><a href="/addbook">Add book</a></li>
                </div>
                <div class="selection">
                    <img class="img-icon" src="/icon/listbook.png">
                    <% if(userData.roles==='admin' ) {%>
                        <li><a href="/manage-rental">Manage Account</a></li>
                        <%} else {%>
                            <li><a href="/listbook/<%=userData.id%>">List book rented</a></li>
                            <%}%>
                </div>
                <div class="selection">
                    <img class="img-icon" src="/icon/setting.png">
                    <li><a href="/setting/<%=userData.username%>">Settings</a></li>
                </div>
                <% if(userData.roles==='admin' ) {%>
                    <div class="selection">
                        <img class="img-icon" src="/icon/category.png">
                        <li><a href="/manage-category">Category</a></li>
                    </div>
                    <div class="selection">
                        <img class="img-icon" src="/icon/payment.png">
                        <li><a href="/payment-request">Payment Request</a></li>
                    </div>
                    <%}%>
                        <div class="selection" style="background-color: #2c3e50;">
                            <img class=" img-icon" src="/icon/inventory.png">
                            <li><a href="/inventory">Inventory</a></li>
                        </div>
                        <div class="selection">
                            <img class="img-icon" src="/icon/leave.png">
                            <li><a href="/">Back</a></li>
                        </div>
            </ul>
        </nav>
        <main class="content">
            <section class="overview">
                <h2>Inventory</h2>
                <ul class="inventorylist" id="inventoryList">
                    <% book.forEach((Books)=>{%>
                        <li class="book-item">
                            <img class="book-image" src="/product/<%= Books.image%>" alt="Book Image">
                            <div class="book-details">
                                <p>Id: <%= Books.bookId %>
                                </p>
                                <h3>
                                    <%= Books.name %>
                                </h3>
                                <p>Author: <%= Books.author %>
                                </p>
                                <p>Amount: <%= Books.quantity %> <button class="btn-subtract"
                                            data-bookId="<%= Books.bookId %>">-</button>
                                </p>
                                <p class="book-price">Price: <%= Books.price %> VND</p>
                            </div>
                            <button class="add-button" data-bookId="<%= Books.bookId %>">Add</button>
                            <button class="edit-button"
                                onclick="window.location.href='/edit/<%= Books.bookId%>'">Edit</button>
                            <button class="delete-button" data-bookId="<%= Books.bookId %>">Delete</button>
                        </li>
                        <%}) %>
                </ul>
            </section>
        </main>
    </div>
    <script src="/js/handleBook.js"></script>
</body>

</html>