<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/personal.css">
    <link rel="stylesheet" href="/css/setting.css">
    <title>Personal</title>
</head>

<body>
    <div class="dashboard-container">
        <header>
            <h1> Hello <span class="username">
                    <%= userData.username %>
                </span></h1>
        </header>
        <nav>
            <ul>
                <div class="selection">
                    <img class="img-icon" src="/icon/addbook.png">
                    <li><a href="/addbook">Add book</a></li>
                </div>
                <div class="selection">
                    <img class="img-icon" src="/icon/listbook.png">
                    <% if(userData.roles==='admin' ) {%>
                        <li><a href="/manage-rental">Manage Account</a></li>
                        <%} else {%>
                            <li><a href="/listbook/<%=userData.id%>">List book rented</a></li>
                            <%}%>
                </div>
                <div class="selection" style="background-color: #2c3e50;">
                    <img class="img-icon" src="/icon/setting.png">
                    <li><a href="/setting/<%=userData.username%>">Settings</a></li>
                </div>
                <% if(userData.roles==='admin' ) {%>
                    <div class="selection">
                        <img class="img-icon" src="/icon/category.png">
                        <li><a href="/manage-category">Category</a></li>
                    </div>
                    <div class="selection">
                        <img class="img-icon" src="/icon/payment.png">
                        <li><a href="/payment-request">Payment Request</a></li>
                    </div>
                    <%}%>
                        <div class="selection">
                            <img class="img-icon" src="/icon/inventory.png">
                            <li><a href="/inventory">Inventory</a></li>
                        </div>

                        <div class="selection">
                            <img class="img-icon" src="/icon/leave.png">
                            <li><a href="/">Back</a></li>
                        </div>

            </ul>
        </nav>
        <main class="content">
            <div class="profile-card">
                <img class="profile-image" src="/icon/avt.png" alt="User Image">
                <div class="user-info">
                    <div class="username">
                        <%= userData.username %>
                    </div>
                    <div class="roles">
                        <%= userData.roles %>
                    </div>
                    <%if(userData.roles==='user'){%>
                        <div>Amount: <%=amount%> VND</div>
                        <p class="choice">Do you want to deposit money</p>
                        <%}%>
                </div>
            </div>
        </main>
    </div>
</body>
<script src="/js/deposit.js"></script>

</html>